In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

## Задача №1

In [14]:
salarity = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])

In [15]:
scoring = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [20]:
Msalarity = salarity.mean()
Msalarity

101.4

In [21]:
Mscoring = scoring.mean()
Mscoring

709.9

#### смещенная оценка ковариации

In [47]:
cov1 = ((salarity - Msalarity)*(scoring - Mscoring)).mean()
cov1

9157.84

#### Несмещенная оценка ковариации

In [28]:
cov = ((salarity - Msalarity)*(scoring - Mscoring)).sum() / (salarity.shape[0] - 1)
cov

10175.37777777778

In [19]:
cov = np.cov(salarity, scoring)
cov

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

## Коэф. корреляции пирсона

In [29]:
corr = cov /(salarity.std()*scoring.std())
corr

0.9861001023043514

In [48]:
corr = cov1 /(salarity.std()*scoring.std())
corr

0.8874900920739162

In [44]:
df = pd.DataFrame({'salarity': salarity.tolist(), 'scoring': scoring.tolist()})

In [46]:
df[['salarity','scoring']].corr()

          salarity  scoring
salarity   1.00000  0.88749
scoring    0.88749  1.00000

In [32]:
np.corrcoef(salarity,scoring)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

## Задача №2

In [2]:
iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [4]:
Кол-во значений в выборве, математическое среднее и несмещенное среднее квадратичное отклонение:
n = 10
m = iq.mean()
s = iq.std(ddof=1)

In [5]:
n,m,s

(10, 118.1, 10.54566788359614)

### Нужный нам квантиль находим по таблице для надежности 0,95 и n-1 = 9

In [6]:
t = 2.2622

In [8]:
### Доверительный интервал равен:

In [7]:
(m - t * s / np.sqrt(n), m + t * s / np.sqrt(n))

(110.55594079648245, 125.64405920351754)

In [9]:
# Ответ доверительный интервал для мат. ожидания с надежностью 0,95 (110.55594079648245, 125.64405920351754)

## Задача №3

Дисперсия D(x) = 25
среднее квадратичное отклонение равно корень из дисперсии = 5
по центральной предельной теореме мат. ожидание равно выборочному среднему = 174,2
Доверительный интервал распределения роста футболистов с надежностью 0,95 равен на осовании правила двух сигм
(174,2-2*5;174,2+2*5)
(164,2;184,2)